@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --twitter-blue1: rgba(29, 155, 240, 1);
        --twitter-grey1: rgba(83, 100, 113, 1);
    }

    body {
        font-family: 'Work Sans', sans-serif;
    }

    h1 {
        font-weight: 700;
        @apply text-5xl sm:text-7xl;
    }

    h2 {
        font-weight: 700;
        @apply text-3xl sm:text-4xl;
    }

    p {
        @apply leading-tight;
    }
}

@layer components {
    .splash-img {
        background-image: url("./images/frontpage_image.png");
        background-size: cover;
        background-position: center center;
    }

    .btn {
        @apply rounded-full px-8 py-2 font-semibold transition text-center;
    }

    .btn-primary {
        @apply bg-twitter-blue1 text-white;
    }

    .btn-primary:not(:disabled):hover {
        @apply bg-twitter-blue2;
    }

    .btn-secondary {
        @apply bg-transparent border-twitter-grey1 border border-solid text-twitter-blue1 hover:bg-twitter-blue1-10;
    }

    .btn-tertiary {
        @apply bg-black text-white hover:bg-opacity-80;
    }

    .btn-quarternary {
        @apply bg-transparent border-twitter-grey1 border border-solid text-black hover:bg-twitter-grey1-10;
    }

    .btn-primary:disabled, .btn-secondary:disabled, .btn-tertiary:disabled, .btn-quarternary:disabled {
        @apply opacity-70;
    }

    .btn-slim {
        @apply py-1 px-4;
    }

    .overlay {
        @apply bg-black bg-opacity-20 w-full h-full;
    }

    input:not(.tweet-input) {
        @apply text-base border border-solid border-twitter-grey1 w-full rounded-md px-2 pt-6 pb-2 transition-all outline-none focus:border-twitter-blue1 h-[56px];
    }

    input:not(.tweet-input):focus {
        box-shadow: 0 0 0 1px var(--twitter-blue1);
    }

    input:not(.tweet-input):not(:placeholder-shown):not(:focus):invalid, input:not(:focus):valid.invalid {
        @apply border-red-600;
    }

    .tweet-input:not([type='file']) {
        @apply w-full h-[30px] py-1 border-0 outline-none text-xl overflow-hidden;
        resize: none;
    }

    .tweet-input:not([type='file'])::placeholder {
        @apply text-twitter-grey1;
    }

    .tweet-btn-container {
        @apply cursor-pointer inline;
    }

    .tweet-btn {
        @apply w-8 h-8 rounded-full transition;
    }

    .tweet-btn-container:hover .blue {
        @apply bg-twitter-blue1-10 text-twitter-blue1;
    }

    .tweet-btn-container:hover .blue ~ span {
        @apply text-twitter-blue1;
    }

    .tweet-btn-container:hover .green {
        @apply bg-twitter-green1-10 text-twitter-green1;
    }

    .tweet-btn-container:hover .green ~ span {
        @apply text-twitter-green1;
    }

    .tweet-btn-container:hover .pink {
        @apply bg-twitter-pink1-10 text-twitter-pink1;
    }

    .tweet-btn-container:hover .pink ~ span {
        @apply text-twitter-pink1;
    }

    .tweet-btn i {
        color: inherit;
    }

    [type='file'].tweet-input {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }

    .dynamic-label {
        position: absolute;
        left: calc(0.5rem + 1px);
        top: calc((56px/3) - 2px);
        pointer-events: none;
        cursor: text;
        color: var(--twitter-grey1);
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    input:focus ~ .dynamic-label, input:not(:placeholder-shown) ~ .dynamic-label {
        font-size: .8rem;
        top: .5rem;
        color: var(--twitter-blue1);
    }

    input:not(:placeholder-shown):not(:focus) ~ .dynamic-label {
        color: var(--twitter-grey1);
    }

    .character-counter {
        display: none;
        position: absolute;
        top: .5rem;
        font-size: .8rem;
        right: .5rem;
        color: var(--twitter-grey1);
    }

    input:focus ~ .character-counter {
        display: block;
    }

    .hint {
        @apply absolute top-full text-red-600 w-full left-0 hidden;
        font-size: .8rem;
    }

     
    input:not(:placeholder-shown):invalid:not(:focus) ~ .hint,
    input.invalid:focus ~ .hint,
    input:placeholder-shown.invalid ~ .hint,
    input:valid.invalid ~ .hint {
        @apply block;
    }

    #tweet-modal .h-fit.max-h-screen.overflow-auto {
        max-height: calc(100vh - 2rem)
    }
}

.overflow-hidden {
    overflow: hidden;
}