% if not is_fetch:
    % include("header")
<div class="min-h-screen w-full grid grid-cols-12 xl:w-5/6 xl:mx-auto">
    % include("sidemenu", tabs=tabs)
    <div class="spa-wrapper col-span-10 lg:col-span-6 min-h-screen border-x border-twitter-grey1-10">
% end
    <main
      data-spa_url="/explore" 
      data-spa_title="{{title}}"
    >
        <header class="p-4 sticky top-0 bg-white bg-opacity-80 backdrop-blur-sm">
            <h3 class="text-xl font-semibold">{{ title }}</h3>
        </header>
    </main>

    %if not is_fetch:
    </div>
    <aside class="hidden lg:block lg:col-span-3 h-full sticky top-0 right-0">
        hej
    </aside>
</div>
% include("footer")
% end