<template id="follows-temp">
    <div id="user-">
        <div href="" onclick="spa(this); return false;" class="flex gap-2 cursor-pointer transition hover:bg-twitter-grey1-10 p-4">
            <aside class="max-w-[48px]">
                <img src="" class="user_image rounded-full h-[48px] w-[48px] object-cover">
            </aside>
            <div class="flex-1">
                <p class="user_name font-semibold hover:underline"></p>
                <p class="user_handle text-twitter-grey1 mb-2"></p>
                <p class="user_description"></p>
            </div>
        </div>
    </div>
</template>