<template id="followBtnTemp">
    <button onclick="followUser()" class="btn btn-tertiary btn-slim btn-md-unslim"  data-user-id="" data-follow-user-id="" data-follow-user-handle="">Follow</button>
</template>
<template id="unfollowBtnTemp">
    <button onclick="unfollowUser()" class="btn btn-quarternary btn-unfollow btn-slim btn-md-unslim" data-user-id="" data-unfollow-user-id="" data-unfollow-user-handle="">
        <span class="following pointer-events-none">Following</span>
        <span class="unfollow pointer-events-none">Unfollow</span>
    </button>
</template>